# Configurações do Banco de Dados
DATABASE_URL="postgresql://user:password@localhost:5432/dbname?schema=public"

# Segurança (OBRIGATÓRIO)
# O app não subirá se o JWT_SECRET não estiver definido.
JWT_SECRET="insira_um_segredo_longo_e_aleatorio_aqui"

# Servidor
PORT=3006
NODE_ENV=development

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3000
